In [3]:
import pandas as pd
from textblob import TextBlob
import matplotlib.pyplot as plt

In [9]:
data = pd.read_csv("C:/Users/hp/Desktop/Task 1/twitter_training.csv")  # Or .txt or whatever it is

In [10]:
data.head()

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [12]:
col_names = ['ID', 'Entity', 'Sentiments', 'Contest']
df = pd.read_csv("C:/Users/hp/Desktop/Task 1/twitter_training.csv", names=col_names)

In [13]:
df.head()

,ID,Entity,Sentiments,Contest
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...

In [14]:
df.shape

(74682, 4)

In [15]:
df.describe

<bound method NDFrame.describe of          ID       Entity Sentiments  \
0      2401  Borderlands   Positive
1      2401  Borderlands   Positive
2      2401  Borderlands   Positive
3      2401  Borderlands   Positive
4      2401  Borderlands   Positive
...     ...          ...        ...
74677  9200       Nvidia   Positive
74678  9200       Nvidia   Positive
74679  9200       Nvidia   Positive
74680  9200       Nvidia   Positive
74681  9200       Nvidia   Positive

                                                 Contest
0      im getting on borderlands and i will murder yo...
1      I am coming to the borders and I will kill you...
2      im getting on borderlands and i will kill you ...
3      im coming on borderlands and i will murder you...
4      im getting on borderlands 2 and i will murder ...
...                                                  ...
74677  Just realized that the Windows partition of my...
74678  Just realized that my Mac window partition is ...
74679  Just realized the windows partition of my Mac ...
74680  Just realized between the windows partition of...
74681  Just like the windows partition of my Mac is l...

[74682 rows x 4 columns]>

In [16]:
df.isnull().sum()

ID              0
Entity          0
Sentiments      0
Contest       686
dtype: int64

In [17]:
df.dropna(axis=0,inplace=True)

In [ ]:
df.isnull().sum()